<div class="app-swipe">
  <nav class="navbar navbar-default navbar-<%= @page %>">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <%= @title || 'Book.y' %>
        </a>
        <a class="btn btn-default navbar-btn navbar-btn-matches" href="javascript:toggleMatches()">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bookmark-o"></i>
        </a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="swipe-content">
    <img src="<%= @book.image_url %>" onclick="javascript:openSynopsis('<%= @book.isbn %>')">

    <div class="swipe-buttons">
      <a href="<%= dislike_swipe_path(@book) %>" class="btn btn-primary btn-not" data-method="post">
        <span class="fa fa-times"></span>
      </a>
      <a href="<%= like_swipe_path(@book) %>" class="btn btn-primary btn-yes" data-method="post">
        <span class="fa fa-check"></span>
      </a>
    </div>
  </div>
</div>
