<div class="app-swipe">
  <nav class="navbar navbar-default navbar-<%= @page %>">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <%= @title || 'Book.y' %>
        </a>
        <a class="btn btn-default navbar-btn navbar-btn-matches" href="javascript:toggleMatches()">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bookmark-o"></i>
        </a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="swipe-content">
    <img src="http://webservices.bibliotheek.be/index.php?func=cover&ISBN=<%= @isbn %>&coversize=large" >

    <div class="swipe-buttons">
      <a href="/swipe/<%=@isbn%>/dislike" class="btn btn-primary btn-not" data-method="post"><span class="fa fa-times"></span></a>
      <a href="/swipe/<%=@isbn%>/like" class="btn btn-primary btn-yes"><span class="fa fa-check" data-method="post"></span></a>
    </div>
  </div>
</div>
