<!DOCTYPE html>
<html class="html-<%= @page %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Book.y</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body-<%= @page %>">
  <%= yield %>

  <div id="app-matches"></div>
  <div id="app-synopsis">
    <h1>Matches</h1>
    <a href="javascript:closeSynopis()" class="pull-right">Close</a>
    <div class="synopsis-content"></div>
  </div>
</body>
</html>
