<!DOCTYPE html>
<html class="html-<%= @page %>">
<head>
  <title>Tinderbooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body-<%= @page %>">
  <%= yield %>

  <div id="app-matches">

  </div>

</body>
</html>
